<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sudoku</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.lumen.css" />
        <link rel="stylesheet" href="~/lib/css/fontawesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.lumen.min.css" />
        <link rel="stylesheet" href="~/lib/css/fontawesome.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    <nav class="navbar sticky-top navbar-light bg-light justify-content-between">
        <div class="container">
            <a class="navbar-brand">Sudoku</a>
            <form class="form-inline" id="newSudoku">
                <div class="form-group">
                    <select name="difficulty" class="form-control" id="difficulty">
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="size" class="form-control" id="size">
                        <option>Shi Doku</option>
                        <option>Roku Doku</option>
                        <option>Sudoku</option>
                        <option>Maxi</option>
                        <option>Sudoku the Giant</option>
                        <option>Sudoku-zilla</option>
                        <option>Custom</option>
                    </select>
                </div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="mode" id="generate" checked>Generate
                    </label>
                    <label class="btn btn-outline-primary active">
                        <input type="radio" name="mode" id="solve">Solve
                    </label>
                </div>
                <button type="submit" class="btn btn-success">New Sudoku</button>
            </form>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - Ashley Rushworth</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/js/jquery.js"></script>
        <script src="~/lib/js/bootstrap.bundle.js"></script>
        <script src="~/lib/js/fontawesome.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/js/jquery.min.js"></script>
        <script src="~/lib/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/js/fontawesome.min.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
