<div class="container">
    @{
        int regionWidth = Model?.RegionWidth ?? 3;
        int regionHeight = Model?.RegionHeight ?? 3;
        for (int i = 0; i < regionWidth; i++)
        {
            <div class="row">
                @for (int j = 1; j <= regionHeight; j++)
                {
                    <div class="col">
                        <button type="button" class="btn btn-secondary btn-lg btn-block" id="keypadButton@(i * regionHeight + j)" disabled>@(i * regionHeight + j)</button>
                    </div>
                }
            </div>
        }
    }
    <hr />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary btn-lg btn-block" id="hintButton" disabled>Hint</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary btn-lg btn-block" id="undoButton" disabled>Undo</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary btn-lg btn-block" id="eraseButton" disabled>Erase</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success btn-lg btn-block" id="submitButton" disabled>Submit</button>
        </div>
    </div>
</div>