<div class="container">
    @{
        int regionWidth = Model?.Regions[0].Width ?? 3;
        int regionHeight = Model?.Regions[0].Height ?? 3;
        for (int i = 0; i < regionHeight; i++)
        {
            <div class="row">
                @for (int j = 1; j <= regionWidth; j++)
                {
                    <button type="button" class="btn btn-secondary">@(i * regionWidth + j)</button>
                }
            </div>
        }
    }
    <hr/>
    <div class="row">
        <button type="button" class="btn btn-secondary">Notes</button>
        <button type="button" class="btn btn-secondary">Hint</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-secondary">Undo</button>
        <button type="button" class="btn btn-secondary">Erase</button>
    </div>
    <hr/>
    <div class="row">
        <button type="button" class="btn btn-success btn-lg btn-block">Submit</button>
    </div>
</div>