<table>
    @for (int i = 0; i < 3; i++)
    {
        <tr>
            <td><div class="content top left"></div></td>
            <td><div class="content top"></div></td>
            <td><div class="content top right"></div></td>
            <td><div class="content top left"></div></td>
            <td><div class="content top"></div></td>
            <td><div class="content top right"></div></td>
            <td><div class="content top left"></div></td>
            <td><div class="content top"></div></td>
            <td><div class="content top right"></div></td>
        </tr>
        <tr>
            <td><div class="content left"></div></td>
            <td><div class="content"></div></td>
            <td><div class="content right"></div></td>
            <td><div class="content left"></div></td>
            <td><div class="content"></div></td>
            <td><div class="content right"></div></td>
            <td><div class="content left"></div></td>
            <td><div class="content"></div></td>
            <td><div class="content right"></div></td>
        </tr>
        <tr>
            <td><div class="content bottom left"></div></td>
            <td><div class="content bottom"></div></td>
            <td><div class="content bottom right"></div></td>
            <td><div class="content bottom left"></div></td>
            <td><div class="content bottom"></div></td>
            <td><div class="content bottom right"></div></td>
            <td><div class="content bottom left"></div></td>
            <td><div class="content bottom"></div></td>
            <td><div class="content bottom right"></div></td>
        </tr>
    }
</table>