<div class="row">
    <div class="col">
        <h5>Timer: <b id="time">0:00</b></h5>
    </div>
    <div class="col" id="timerButton">
        <h5>
            <i class="fas fa-play-circle fa-lg disabled" id="playButton"></i>
            <i class="fas fa-pause-circle fa-lg" id="pauseButton" onclick="pauseTimer()" hidden></i>
        </h5>
    </div>
</div>
<div class="modal fade" id="pauseModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Game Paused</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The game has been paused.<br/>
                To resume, click on the button below or close this modal.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Resume</button>
            </div>
        </div>
    </div>
</div>