<div class="row">
    <div class="col">
        <h5>Timer: <b id="time">0:00</b></h5>
    </div>
    <div class="col" id="timerButton">
        <h5>
            <i class="fas fa-play-circle fa-lg text-primary" id="playButton" onclick="startTimer()"></i>
            <i class="fas fa-pause-circle fa-lg text-primary" id="pauseButton" onclick="pauseTimer()" hidden></i>
        </h5>
    </div>
</div>