@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8" id="timer">
            <partial name="_Timer" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8" id="grid">
            <partial name="_EmptyGrid" />
        </div>
        <div class="col-lg-4" id="buttons">
            <partial name="_Buttons" />
        </div>
    </div>
</div>