@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="timer">
    <partial name="_Timer"/>
</div>
<div id="grid">

</div>
<div id="keypad">
    <partial name="_Keypad"/>
</div>
<div id="buttons">
    <partial name="_Buttons"/>
</div>