@model Sudoku.Models.Grid

@{
    ViewData["Title"] = "Index";
    if (Model == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="container">
    <div class="row">
        <div class="col-lg-8" id="left">
            <partial name="_Timer"/>
            <div id="grid">
                <partial name="_Grid"/>
            </div>
        </div>
        <div class="col-lg-4" id="right">
            <div id="buttons">
                <partial name="_Buttons"/>
            </div>
            <div id="alertContainer">
                <div class="alert alert-dismissible alert-@(Model.Solved ? "success" : "danger")">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @(Model.Solved ? "Solution found." : "No solutions found.")
                </div>
            </div>
        </div>
    </div>
</div>