body {
    visibility: hidden;
}

.navbar {
    margin-bottom: 8px;
}

#newSudoku {
    margin-left: auto;
    margin-right: 0;
}

.container {
    padding: 0;
}

.form-group, .btn-group {
    padding-right: 1rem;
}

#timer {
    padding: 1rem 0 0 0;
}

#timerButton {
    text-align: right;
    color: #158CBA;
}

#playButton.disabled {
    color: #68b5d2;
}

#pauseButton:hover {
    color: #117298;
}

#playButton:not(.disabled), #pauseButton:not(.disabled) {
    cursor: pointer;
}

#grid {
    padding: 0;
    width: 100%;
    max-width: 100vmin;
    margin-left: auto;
    margin-right: auto;
}
  
.board {
    width: 100%;
    min-width: 400px;
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}
  
.cell {
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    cursor: default;
}

.top {
    border-top-width: 2px;
}

.bottom {
    border-bottom-width: 2px;
}

.left {
    border-left-width: 2px;
}

.right {
    border-right-width: 2px;
}

.selected {
    background-color: #bbb;
}

.highlighted {
    background-color: #e1e1e1;
}

.invalid {
    background-color: #ffdacf;
}

.selected.invalid {
    background-color: #ffb4a9;
}

.btn:disabled {
    cursor: default;
}

#buttons .container .row {
    padding-bottom: 15px;
}

#buttons .container .row:nth-last-child(1),
#buttons .container .row:nth-last-child(3),
#buttons .container .row:nth-last-child(7) {
    padding-bottom: 0;
}

.alert {
    margin-top: 15px;
}

#right {
    margin-top: 32px;
}