body { visibility: hidden; }

.navbar { margin-bottom: 8px; }

#newSudoku {
    margin-left: auto;
    margin-right: 0;
}

.container { padding: 0; }

.form-group, .btn-group { padding-right: 1rem; }

#timer { padding: 1rem 0 0 0; }

#timerButton {
    color: #158CBA;
    text-align: right;
}

#playButton.disabled { color: #68b5d2; }

#pauseButton:hover { color: #117298; }

#playButton:not(.disabled), #pauseButton:not(.disabled) { cursor: pointer; }

#grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 100vmin;
    padding: 0;
    width: 100%;
}

.board {
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 400px;
    width: 100%;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
    cursor: default;
    text-align: center;
}

.top { border-top-width: 2px; }

.bottom { border-bottom-width: 2px; }

.left { border-left-width: 2px; }

.right { border-right-width: 2px; }

.selected { background-color: #bbb; }

.highlighted { background-color: #e1e1e1; }

.invalid { background-color: #ffdacf; }

.selected.invalid { background-color: #ffb4a9; }

.btn:disabled { cursor: default; }

#buttons .container .row { padding-bottom: 15px; }

#buttons .container .row:nth-last-child(1),
#buttons .container .row:nth-last-child(3),
#buttons .container .row:nth-last-child(7) { padding-bottom: 0; }

.alert { margin-top: 15px; }

#right { margin-top: 32px; }